<nb-card>
  <nb-card-header>
    Transporter
  </nb-card-header>

  <nb-card-body>
      <form 
      [formGroup]="transporterForm"
      (ngSubmit)="addTransporter(transporterForm)">
        
        <!-- Transporter Field -->
        <div class="form-group row">
          <label 
            for="transporter" 
            class="col-sm-3 col-form-label">
            Transport Company Name
          </label>
          <div class="col-sm-9">
            <!-- We can use "transporter" in formControlName 
            instead of using the get function by defining
            the field as a property in the component class-->
            <input 
              formControlName="transporter" 
              name="transporter"
              class="form-control" 
              id="transporter" 
              placeholder="Transport Company Name">              
          </div>
        </div>
        
        <!-- Adding Validations for Transporter Field -->
        <div
          *ngIf="transporter.touched && !transporter.valid">
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="transporter.errors.required">
            Transport Company Name has not been entered.
          </div>
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="transporter.errors.maxlength">
            Transport Company Name should not be greater than {{transporter.errors.maxlength.requiredLength}} 
            characters. Currently it is {{transporter.errors.maxlength.actualLength}} characters.
          </div>
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="transporter.errors.minlength">
            Transport Company Name should be greater than {{transporter.errors.minlength.requiredLength}} 
            characters.
          </div>
        </div>
        

        <!-- Primary Mobile Field -->
        <div class="form-group row">
            <label 
              for="primary_mobile" 
              class="col-sm-3 col-form-label">
              Primary Mobile Number
            </label>
            <div class="col-sm-9">
              <input 
                formControlName="primary_mobile"
                id="primary_mobile" 
                name="primary_mobile"
                type="number"
                class="form-control"                
                placeholder="Primary Mobile Number">
            </div>
        </div>
        <div
          *ngIf="primary_mobile.touched && !primary_mobile.valid">
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="primary_mobile.errors.required">
            Mobile Number has not been entered.
          </div>
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="primary_mobile.errors.max">
            Mobile Number should not be greater than 10 digits.
          </div>          
        </div>
  
        <!-- Primary Contact Field
        <div class="form-group row">
          <label 
            for="primary_contact" 
            class="col-sm-3 col-form-label">
            Primary Contact Numbers
          </label>
          <div class="col-sm-9">
            <input 
              formControlName="primary_contact" 
              name="primary_contact"
              class="form-control" 
              id="primary_contact" 
              placeholder="Primary Contact Numbers">              
          </div>
        </div>        
        <div
          *ngIf="primary_contact.touched && !primary_contact.valid">
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="primary_contact.errors.maxlength">
            Primary Contact Numbers should not be greater than {{primary_contact.errors.maxlength.requiredLength}} 
            characters. Currently it is {{primary_contact.errors.maxlength.actualLength}} characters.
          </div>
        </div> -->

        <!-- Primary Contact Person Field -->
        <div class="form-group row">
          <label 
            for="primary_person" 
            class="col-sm-3 col-form-label">
            Primary Contact Person
          </label>
          <div class="col-sm-9">
            <input 
              formControlName="primary_person" 
              name="primary_person"
              class="form-control" 
              id="primary_person" 
              placeholder="Primary Contact Person">              
          </div>
        </div>        
        <div
          *ngIf="primary_person.touched && !primary_person.valid">
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="primary_person.errors.maxlength">
            Contact Person Name should not be greater than {{primary_person.errors.maxlength.requiredLength}} 
            characters. Currently it is {{primary_person.errors.maxlength.actualLength}} characters.
          </div>
        </div>
        
        <!-- Other Contact Field -->
        <div class="form-group row">
          <label 
            for="other_contact" 
            class="col-sm-3 col-form-label">
            Other Contact Numbers
          </label>
          <div class="col-sm-9">
            <input 
              formControlName="other_contact" 
              name="other_contact"
              class="form-control" 
              id="other_contact" 
              placeholder="Other Contact Numbers">              
          </div>
        </div>        
        <div
          *ngIf="other_contact.touched && !other_contact.valid">
          <div 
            class="offset-sm-3 col-sm-9 alert alert-danger"
            *ngIf="other_contact.errors.maxlength">
            Other Contact Numbers should not be greater than {{other_contact.errors.maxlength.requiredLength}} 
            characters. Currently it is {{other_contact.errors.maxlength.actualLength}} characters.
          </div>
        </div>
        
        <!-- Contact Address Field -->
        <div class="form-group row">
          <label 
            for="address" 
            class="col-sm-3 col-form-label">
            Contact Address
          </label>
          <div class="col-sm-9">
            <textarea 
              formControlName="address"
              rows="3"
              name="address"
              class="form-control" 
              id="address" 
              placeholder="Contact Address">
            </textarea>
          </div>
        </div>       

        <!-- Adding the submit button -->
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button 
              type="submit" 
              class="btn btn-primary"
              [disabled]="!transporterForm.valid">
              SUBMIT
            </button>
          </div>
        </div>
        
      </form>


  </nb-card-body>
</nb-card>

<ngx-transporter-report></ngx-transporter-report>
