<nb-card>
  <nb-card-header>
    Transporter
  </nb-card-header>

  <nb-card-body>
    <form
    [formGroup]="enquiriesForm"
    (ngSubmit)="addEnquiry(enquiriesForm)">

    <div class="form-group row">
      <label 
        for="status" 
        class="col-sm-3 col-form-label">
        Status of Enquiry
      </label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="outline">
          <input 
            type="text" 
            placeholder="Enquiry Status"
            id="status"
            name="status"
            class="form-control"
            matInput formControlName="status" 
            [matAutocomplete]="auto">
          <mat-error *ngIf="status.invalid">{{getStatusErrorMessage()}}</mat-error>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{status}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label 
        for="source" 
        class="col-sm-3 col-form-label">
        Source
      </label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            ngx-google-places-autocomplete 
            [options]='placesOptions' 
            #sourceRef="ngx-places" 
            (onAddressChange)="handleSourceAddressChange($event)"
            placeholder="Source"
            id="source"
            name="source"
            class="form-control"
            matInput formControlName="source">
          <mat-error *ngIf="source.invalid">{{getSourceErrorMessage()}}</mat-error>          
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label 
        for="destination" 
        class="col-sm-3 col-form-label">
        Destination
      </label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            ngx-google-places-autocomplete
            [options]='placesOptions' 
            #destRef="ngx-places" 
            (onAddressChange)="handleDestAddressChange($event)"
            placeholder="Destination"
            id="destination"
            name="destination"
            class="form-control"
            matInput formControlName="destination">
          <!-- <mat-error *ngIf="destination.invalid">{{getErrorMessage()}}</mat-error>           -->
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label 
        for="return" 
        class="col-sm-3 col-form-label">
        Return
      </label>
      <div class="col-sm-9">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            ngx-google-places-autocomplete 
            [options]='placesOptions'
            #returnRef="ngx-places" 
            (onAddressChange)="handleReturnAddressChange($event)"
            placeholder="Return"
            id="return"
            name="return"
            class="form-control"
            matInput formControlName="return">
          <!-- <mat-error *ngIf="return.invalid">{{getErrorMessage()}}</mat-error>     -->
        </mat-form-field>
      </div>
    </div>


      <div class="form-group row">
        <label 
          for="enquiryId" 
          class="col-sm-3 col-form-label">
          Enquiry ID
        </label>
        <div class="col-sm-9">
          <input 
            formControlName="enquiryId"
            id="enquiryId" 
            name="enquiryId"
            class="form-control"                
            placeholder="Enquiry ID">
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="length" 
          class="col-sm-3 col-form-label">
          Length
        </label>
        <div class="col-sm-9">
          <input 
            formControlName="length"
            id="length" 
            name="length"
            type="number"
            class="form-control"                
            placeholder="Length">
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="width" 
          class="col-sm-3 col-form-label">
          Width
        </label>
        <div class="col-sm-9">
          <input 
            formControlName="width"
            id="width" 
            name="width"
            type="number"
            class="form-control"                
            placeholder="Width">
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="height" 
          class="col-sm-3 col-form-label">
          Height
        </label>
        <div class="col-sm-9">
          <input 
            formControlName="height"
            id="height" 
            name="height"
            type="number"
            class="form-control"                
            placeholder="Height">
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="weight" 
          class="col-sm-3 col-form-label">
          Weight
        </label>
        <div class="col-sm-9">
          <input 
            formControlName="weight"
            id="weight" 
            name="weight"
            type="number"
            class="form-control"                
            placeholder="Weight">
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="loadType" 
          class="col-sm-3 col-form-label">
          Load Type
        </label>
        <div class="col-sm-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <input 
              type="text" 
              placeholder="Load Type"
              id="loadType"
              name="loadType"
              class="form-control"
              matInput formControlName="loadType" 
              [matAutocomplete]="autoLoadType">
            <mat-error *ngIf="loadType.invalid">{{getLoadTypeErrorMessage()}}</mat-error>
            <mat-autocomplete #autoLoadType="matAutocomplete">
              <mat-option *ngFor="let loadTypeOpt of loadTypeOptions" [value]="loadTypeOpt">
                {{loadTypeOpt}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="vehicleType" 
          class="col-sm-3 col-form-label">
          Vehicle Types
        </label>
        <div class="col-sm-9">
          <mat-form-field>
            <mat-select placeholder="Vehicle Types" formControlName="vehicleType" multiple>
              <mat-option *ngFor="let vehicleTypeOpt of vehicleTypeOptions" [value]="vehicleTypeOpt">{{vehicleTypeOpt}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="vehicleBody" 
          class="col-sm-3 col-form-label">
          Vehicle Body
        </label>
        <div class="col-sm-9">
          <mat-form-field>
            <mat-select placeholder="Vehicle Body" formControlName="vehicleBody" multiple>
              <mat-option *ngFor="let vehicleBodyOpt of vehicleBodyOptions" [value]="vehicleBodyOpt">{{vehicleBodyOpt}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="loadingDate" 
          class="col-sm-3 col-form-label">
          Loading Date
        </label>
        <div class="col-sm-9">
          <mat-form-field>
            <input 
              id="loadingDate" 
              matInput [matDatepicker]="picker" 
              formControlName="loadingDate"
              placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label 
          for="comments" 
          class="col-sm-3 col-form-label">
          Special Requirement
        </label>
        <div class="col-sm-9">
          <textarea 
            formControlName="comments"
            id="comments" 
            name="specialReq"
            type="textarea"
            class="form-control"                
            placeholder="Special Requirement">
          </textarea>
        </div>
      </div>

      <!-- Adding the submit button -->
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!enquiriesForm.valid">
            SUBMIT
          </button>
        </div>
      </div>
    
    </form>
  </nb-card-body>       
</nb-card>
