<nb-card>
  <nb-card-header>
    Transporter
  </nb-card-header>

  <nb-card-body>    
    <form
    [formGroup]="enquiriesForm"
    (ngSubmit)="addEnquiry(enquiriesForm)"
    class="form offset-sm-1">

    <!-- we will place our fields here -->

      <!-- Status of Enquiry -->
      <div class="form-group row">
        <mat-form-field class="full-width">
          <input 
            type="text" 
            placeholder="Enquiry Status"
            id="status"
            name="status"
            matInput formControlName="status" 
            [matAutocomplete]="auto">
          <mat-error *ngIf="status.invalid">{{getStatusErrorMessage()}}</mat-error>
          <!-- We need to trigger Enquiry No Validation Trigger here as it depends on enquiry status and
          needs status value to be passed to the enquiryNoValidator -->
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="enquiryNoValidationTrigger($event)">
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{status}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
      <!-- Source FormArray -->
      <div *ngFor="let source of sources.controls; let i=index"
      formArrayName="sources">
        <!-- Angular assigns array index as group name by default for FormArrays  -->
        <div [formGroupName] = "i" class="form-group row">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="place"
              ngx-google-places-autocomplete 
              [options]='placesOptions' 
              #sourceRef="ngx-places" 
              (onAddressChange)="handleSourceAddressChange($event, i)"
              placeholder="Source"
              id="source"
              name="source">
            <button mat-icon-button matSuffix
              *ngIf="sources.controls.length > 1 && i > 0"
              (click)="removeSource(sources.controls[i])"
              type="button">
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
          <button mat-stroked-button
          (click)="addSource()"
          type="button"
          color="primary">
          ADD SOURCE</button>
      </div>
      
      <!-- Destination Location -->
      <div *ngFor="let destination of destinations.controls; let i=index"
      formArrayName="destinations">
        <div [formGroupName] = "i" class="form-group row">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="place"
              ngx-google-places-autocomplete 
              [options]='placesOptions' 
              #destRef="ngx-places" 
              (onAddressChange)="handleDestinationAddressChange($event, i)"
              placeholder="Destination"
              id="destination"
              name="destination">
            <button mat-icon-button matSuffix
              *ngIf="destinations.controls.length > 1 && i > 0"
              (click)="removeDestination(destinations.controls[i])"
              type="button">
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
          <button mat-stroked-button 
            (click)="addDestination()"
            type="button"
            color="primary">
            Add Destination
          </button>
      </div>

      <!-- Return Location -->
      <div class="form-group row" formGroupName="return">
        <mat-form-field class="full-width">
          <input
            matInput
            ngx-google-places-autocomplete 
            [options]='placesOptions'
            #returnRef="ngx-places" 
            (onAddressChange)="handleReturnAddressChange($event)"
            placeholder="Return"
            id="return"
            name="return"
            formControlName="place">
          <mat-error *ngIf="return.invalid">{{getReturnErrorMessage()}}</mat-error>    
        </mat-form-field>
      </div>
      
      <!-- Enquiry No -->
      <div class="form-group row">
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="enquiry_no"
            id="enquiry_no" 
            name="enquiry_no"
            placeholder="Enquiry No">
        </mat-form-field>
      </div>
      
      <div class="form-group row">
        <div class="grid-container">
          <div>
            <mat-form-field class="full-width">
              <input 
                matInput
                formControlName="length"
                id="length" 
                name="length"
                type="number"      
                placeholder="Length">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="width"
                id="width" 
                name="width"
                type="number"
                placeholder="Width">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <input 
                matInput
                formControlName="height"
                id="height" 
                name="height"
                type="number"      
                placeholder="Height">
            </mat-form-field>  
          </div>
          <div>
            <mat-form-field class="full-width">
              <input 
                matInput
                formControlName="weight"
                id="weight" 
                name="weight"
                type="number"
                placeholder="Weight">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <mat-grid-list cols="4" rowHeight="2:1">          
          <mat-grid-tile>            
          </mat-grid-tile>
          <mat-grid-tile>            
          </mat-grid-tile>
          <mat-grid-tile>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Length -->
      <!-- <div class="form-group row">
        <mat-form-field class="full-width">
          <input 
            matInput
            formControlName="length"
            id="length" 
            name="length"
            type="number"      
            placeholder="Length">
        </mat-form-field>
      </div> -->

      <!-- Width -->
      <!-- <div class="form-group row">        
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="width"
            id="width" 
            name="width"
            type="number"
            placeholder="Width">
        </mat-form-field>
      </div> -->

      <!-- Height -->
      <!-- <div class="form-group row">
        <mat-form-field class="full-width">
          <input 
            matInput
            formControlName="height"
            id="height" 
            name="height"
            type="number"      
            placeholder="Height">
        </mat-form-field>
      </div> -->

      <!-- Weight -->
      <!-- <div class="form-group row">
        <mat-form-field class="full-width">
          <input 
            matInput
            formControlName="weight"
            id="weight" 
            name="weight"
            type="number"
            placeholder="Weight">
        </mat-form-field>
      </div> -->

      <!-- Load Type -->
      <div class="form-group row">
          <mat-form-field class="full-width">
            <input 
              type="text" 
              placeholder="Load Type"
              id="load_type"
              name="load_type"
              matInput formControlName="load_type" 
              [matAutocomplete]="autoLoadType">
            <mat-error *ngIf="load_type.invalid">{{getLoadTypeErrorMessage()}}</mat-error>
            <mat-autocomplete #autoLoadType="matAutocomplete">
              <mat-option *ngFor="let loadTypeOpt of loadTypeOptions" [value]="loadTypeOpt">
                {{loadTypeOpt}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>

      <!-- Vehicle Type -->
      <div class="form-group row">
          <mat-form-field class="full-width">
            <mat-select placeholder="Vehicle Types" formControlName="vehicle_type" multiple>
              <mat-option *ngFor="let vehicleTypeOpt of vehicleTypeOptions" [value]="vehicleTypeOpt.vehicle_type_id">{{vehicleTypeOpt.vehicle}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <!-- Vehicle Body -->
      <div class="form-group row">
          <mat-form-field class="full-width">
            <mat-select placeholder="Vehicle Body" formControlName="vehicle_body" multiple>
              <mat-option *ngFor="let vehicleBodyOpt of vehicleBodyOptions" [value]="vehicleBodyOpt.vehicle_body_id">{{vehicleBodyOpt.body}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <!-- Loading Date -->
      <div class="form-group row">
          <mat-form-field class="full-width">
            <input 
              id="loading_date"
              name="loading_date"
              matInput [matDatepicker]="picker" 
              formControlName="loading_date"
              placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
      </div>

      <!-- Extra Expenses -->
      <div class="form-group row">
          <mat-form-field class="full-width">
            <mat-select placeholder="Extra Expenses" formControlName="extra_expenses" multiple>
              <mat-option *ngFor="let extraExpenseOpt of extraExpensesOptions" [value]="extraExpenseOpt.extra_expenses_id">{{extraExpenseOpt.extra_expenses}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <!-- Comments -->
      <div class="form-group row">
        <textarea
          matInput 
          formControlName="comments"
          id="comments" 
          name="specialReq"
          placeholder="Special Requirement">
        </textarea>
      </div>      

      <!-- Adding the submit button -->
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!enquiriesForm.valid">
            SUBMIT
          </button>
        </div>
      </div>
    
    </form>

    <pre>
      {{ enquiriesForm.value | json }}
    </pre>

  </nb-card-body>       
</nb-card>

