<div formArrayName="source" class="form-group row">
    <div *ngFor="let sourcePlace of enquiriesForm.controls.source.controls; let i=index">
        <label 
          for="source" 
          class="col-sm-3 col-form-label">
          Source
        </label>
        <div class="col-sm-2">
          <mat-form-field class="example-full-width" appearance="outline">
          <input
              ngx-google-places-autocomplete 
              [options]='placesOptions' 
              #sourceRef="ngx-places" 
              (onAddressChange)="handleSourceAddressChange($event)"
              placeholder="Source"
              id="source"
              name="source"
              class="form-control"
              matInput formControlName="sourcePlace">
          <mat-error *ngIf="source.invalid">{{getSourceErrorMessage()}}</mat-error>          
          </mat-form-field>
        </div>
        <div
          *ngIf="enquiriesForm.controls.source.controls.length > 1" 
          (click)="removeSource(i)"
          class="col-sm-2">
            <button class="btn btn-primary btn-md"
            type="button"
            (click)="addSource($event)">
            Remove Source
            </button>
        </div>
    </div>
</div>

<div class="form-group row">    
    <button class="btn btn-primary btn-md"
    type="button"
    (click)="addSource($event)">
    Add Source
    </button>
</div>




<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!-- we will place our fields here -->

    <!-- name -->
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name">
        <!--display error message if name is not valid-->
        <small *ngIf="!myForm.controls.name.valid" class="text-danger">
            Name is required (minimum 5 characters).
        </small>
    </div>

    <!-- list of addresses -->
    <div formArrayName="addresses">
        <div *ngFor="let address of myForm.controls.addresses.controls; let i=index">
            <!-- address header, show remove button when more than one address available -->
            <div>
                <span>Address {{i + 1}}</span>
                <span *ngIf="myForm.controls.addresses.controls.length > 1" 
                    (click)="removeAddress(i)">
                </span>
            </div>

            <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <div [formGroupName]="i">
                <!--street-->
                <div>
                    <label>street</label>
                    <input type="text" formControlName="street">
                    <!--display error message if street is not valid-->
                    <small [hidden]="myForm.controls.addresses.controls[i].controls.street.valid">
                        Street is required
                    </small>
                </div>
                <!--postcode-->
                <div>
                    <label>postcode</label>
                    <input type="text" formControlName="postcode">
                </div>
            <div>
        </div>
    </div>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>